<header>
    <nav class="navbar navbar-expand-lg navbar-dark custom-bg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'tasks:task_list' %}">Fresh Start</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tasks:task_create' %}">Add Task</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" href="{% url 'tasks:task_list' %}">My Tasks</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'authentication:logout' %}">Logout</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'authentication:password_change' %}">Change Password</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authentication:login' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authentication:signup' %}">Sign Up</a>
                        </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated  %}
                    <form class="d-flex search-form" role="search" method="GET">
                        <input class="form-control search-input me-2" type="search" name="q" placeholder="Search tasks..." aria-label="Search" value="{{ request.GET.q }}">
                        <button class="btn btn-custom-outline" type="submit">Search</button>
                    </form>
                {% endif %}
            </div>
        </div>
    </nav>
</header>