{% extends '../base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Login</h2>
    
    {% if messages %}
    <div class="error-message">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    
    <p>Don't have an account?  <a href="{% url 'authentication:signup' %}">Sign Up here</a></p>
    <hr class="my-4 border-top border-secondary">
    <div class="text-center">
        <p class="mb-0"><a href="{% url 'authentication:password_reset' %}">Forgotten password?</a></p>
    </div>
</div>
{% endblock %}