{% extends '../base.html' %}
{% load static %}
{% block title %}Fresh Start: Login{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Login</h2>
    
    {% if messages %}
    <div class="error-message">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    
    <p>Don't have an account? ? <a href="{% url 'authentication:signup' %}">Sign Up here</a></p>
</div>
{% endblock %}