{% extends '../base.html' %}
{% block title %}Fresh Start: Signup{% endblock %}
{% block content %}
<div class="form-container">
    <h2>Create Account</h2>
    
    {% if messages %}
    <div class="error-message">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>

    {% endif %}

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Sign Up</button>
    </form>
    
    <p>Already have an account? <a href="{% url 'authentication:login' %}">Login here</a></p>
</div>
{% endblock %}